*{
	list-style: none;
	margin: 0;
	padding: 0;
}
#page1 .ui-panel-wrapper{
	background-color: #dddddd;
}
#page2 .ui-panel-wrapper{
	background: url(../images/sea_bg.jpg) no-repeat bottom #D7F6F8;
	background-size: 100%;
}
#main .ui-listview{
	margin: 0;
}
#header{
	border: 0;
}
.header_shadow{
	box-shadow: 0px 3px 3px #ddd;
	border: none;
}
.ui-content{
	padding: 0;
}
.mytitle{
	color: #fff;
	font-size: 20px!important;
	padding: .7em 0 .3em 0!important;
}
.ui-btn-trans{
	background-color: rgba(0,0,0,0)!important;
	color: #fff!important;
	border: 0;
	padding-left: 28px;
	box-shadow: none;
	font-size: 16px!important;
}
.ui-btn-trans:after{
	content: '';
	display: block;
	width: 16px;
	height:30px;	
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -15px;
}
.myback::after{
	background: url(../images/back.gif) no-repeat left;
	background-size: 100%;
}
.mymenu{
	top: 14px;
	right: 0px;
}
.mymenu:after{
	background: url(../images/menu.gif) no-repeat left;
	background-size: 100%;
	width: 20px;
}
#nav{
	color: #000;
	background: url(../images/nav_bg.png) repeat-x;
}
#nav .ui-select{
	width: 100%;
	
}
#nav a.ui-btn{
	border: 0;
	background: url(../images/nav_bg.png) repeat-x;
	color: #9d9d9d;
	padding: 10px 0;
}
#nav a.ui-btn:after{
	background-image: url(../images/down_icon.png);
}
#nav a.active:after{
	background-image: url(../images/up_icon.png);
}
#nav .submenu{
	display: none;
	position: absolute;
	width: 100%;
	z-index: 999;
}
#nav .submenu li{
	clear: both;
	width: 100%;
	text-align: center;
	height: 45px;
	line-height: 45px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #cac9c9;
	border-top: 1px solid #e5e4e4;
	color: #5d5d5d;
}
#nav .sub1 li.active{
	background-color: #dad9d9;
	border: none;
}
#nav .sub2 li.active{
	color: #4eaad5;
	background: url(../images/light.png) #f2f2f2 no-repeat 20px;
	background-size: 15px;
}
#nav .sub3 li.active{
	color: #4eaad5;
	background: url(../images/light.png) #f2f2f2 no-repeat 13px;
	background-size: 15px;
}
#nav li{
	position: relative;	
}
#nav .sub1{
	top: 37px;
	left: 0;	
}
#nav .grade{
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
	display: none;
}
#nav .pri{
	display: block;
}
#nav .grade li{
	text-align: center;
	height: 45px;
	line-height: 45px;
	background-color: #dad8d8;
	border-bottom: 1px solid #cccccc;
	border-top: 0;
}
#nav .grade li.active{
	color: #4eaad5;
}
.ui-navbar{
	padding-top: 3px;
	background-color: #30aaea;
}
#main .message{
	padding-right: 20px;
	background: url(../images/message.png) no-repeat;
	background-position: -11px 20px;
}
#main li>a:after{
	display: none;
}
#main li a{
	background-color: #fff;
	overflow: visible;
}
#main li img{
	left: 10px;
	top: 50%;
	margin-top: -34px;
}
#main .message{
	border-left: none;
}
#main .message:after{
	display: none;
}
#main .distance{
	height: 25px;
	position: absolute;
	right: 19px;
	top: 72px;
	color: #a2a2a2;
}
#main li h1{
	color: #000;
	font-size: 18px;
	font-weight: 700;
}
#main li h2,#main li h3{
	display: inline-block;
	color: #a2a2a2;
	font-size: 14px;
	margin: 0;
}
#main li h4{
	color: #a2a2a2;
	font-size: 14px;
	margin: 0;
	max-width: 84%;
}
#main li h3{
	margin-left: 10px;
}
.ongoing{
	padding-left: 25px;
	position: absolute;
	right: 13px;
	top: 20px;
	color: #a2a2a2;
	font-size: 14px;
}
#nav ul{
	width: 90%;
	float: left;
}
#nav a#search_btn{
	width: 10%;
	background: url(../images/search.png) no-repeat center;
	background-size: 20px;
	float: left;
}
#nav:after{
	content: '';
	display: block;
	clear: both;
}
form.ui-filterable{
	padding: 8px 0 5px 0;
	background: url(../images/nav_bg.png) repeat-x;
}
#main .ui-input-search{
	margin: 0 45px;
	border-radius: 30px;
}
#main .ui-input-search:after{
	background-image: url(../images/search.png);
	background-size: 20px;
	width: 20px;
	height: 20px;
	margin-top: -10px;
}
#page2 #main li{
	margin: 5px 10px;
}