*{
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: normal!important;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
#main .ui-listview{
	margin: 0;
}
.ui-content{
	padding: 0;
}
.myheader{
	height: 46px;
}
.mytitle{
	color: #fff;
	font-size: 20px!important;
	padding: .7em 0 .3em 0!important;
}
#header_color{
	border: 0;
}
#header_color ul a{
	border-top: none;
}
.ui-btn-trans{
	background-color: rgba(0,0,0,0)!important;
	color: #fff!important;
	border: 0;
	padding-left: 28px;
	box-shadow: none;
	font-size: 16px!important;
}
.ui-btn-trans:after{
	content: '';
	display: block;
	width: 16px;
	height:30px;	
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -15px;
}
.myback::after{
	background: url(../images/back.gif) no-repeat left;
	background-size: 100%;
}
.mymenu{
	top: 14px;
	right: 0px;
}
.mymenu:after{
	background: url(../images/menu.gif) no-repeat left;
	background-size: 100%;
	width: 20px;
}
#nav li a{
	margin: 0 12px;
	border-left: none;
	position: relative;
}
.reddot:after{
	content: '.';
	color: red;
	font-size: 44px;
	font-weight: 700;
	position: absolute;
	top: -28px;
	right: 6px;
}
#nav{
	background: url(../images/nav_bg.png) repeat-x;
}
#nav .active{
	border-bottom: 2px solid #30aaea;
	color: #30aaea!important;
}
.ui-navbar{
	padding: 6px 20px;
	background-color: #30aaea;
}
.ui-navbar li a{
	color: #aeaeae!important;
	border-top-width: none!important;
	text-decoration: none;
}
.ui-navbar .ui-btn{border-top-width: none!important;}
.ui-navbar li:first-child{
	border-left: none!important;
	border-right: 1px solid #ececec;
}
.ui-navbar li:first-child a{border-left: none!important;}
.ui-navbar li:nth-child(2){
	border-right: 1px solid #ececec;
	border-left: 1px solid #ffffff;
}
.ui-navbar li:last-child{
	border-left: 1px solid #ffffff;
}
#main{
	margin-top: 47.5px;
}
#main .message{
	padding-right: 20px;
	background: url(../images/message.png) no-repeat;
	background-position: -11px 20px;
}
#main li>a:after{
	display: none;
}
#main li a{
	background-color: #fff;
	margin-bottom: 2px;
	overflow: visible;
}
#main li img{
	left: 10px;
	top: 50%;
	margin-top: -34px;
}
#main .message{
	border-left: none;
}
#main .message:after{
	display: none;
}
#main .newms{
	width: 39px;
	height: 25px;
	background: url(../images/message.png) no-repeat center;
	position: absolute;
	right: 13px;
	top: 47px;
}
#main li h1{
	color: #000;
	font-size: 20px;
	font-weight: 700;
}
#main li h2,#main li h3{
	display: inline-block;
	color: #a2a2a2;
	font-size: 14px;
}
#main li h3{
	margin-left: 10px;
}
.status{
	padding-left: 25px;
	position: absolute;
	right: 13px;
	top: 20px;
}
.sta_true{
	background: url(../images/smell.png) no-repeat left;
	color: #30aaea;
}
.sta_false{
	background: url(../images/cry.png) no-repeat left;
	color: #a2a2a2;
}
.comment_stat{
	position: absolute;
	right: 13px;
	top: 20px;	
	color: #aeaeae;
	display: block;
	width: 100px;
	text-align: left;
}
.his1 .comment_stat{
	width: 50px;
}
.comment_stat i{
	color: #fd6f43;
	font-style: normal;
}
.january li:first-child::before{
	content: '一月';	
}
.february li:first-child::before{
	content: '二月';	
}
.march li:first-child::before{
	content: '三月';	
}
.april li:first-child::before{
	content: '四月';	
}
.may li:first-child::before{
	content: '五月';	
}
.june li:first-child::before{
	content: '六月';	
}
.july li:first-child::before{
	content: '七月';	
}
.auguest li:first-child::before{
	content: '八月';	
}
.september li:first-child::before{
	content: '九月';	
}
.october li:first-child::before{
	content: '十月';	
}
.november li:first-child::before{
	content: '十一月';	
}
.december li:first-child::before{
	content: '十二月';	
}
li.ui-first-child{
	margin-top: 18px;
}
li.ui-first-child::before{
	display: block;
	position: absolute;
	top: -13px;
	left: 0px;
	padding: 3px 6px;
	background-color: #44b4ee;
	color:#fff;
	z-index: 999;
}

#dialog .ui-dialog-contain{
	overflow: visible;
}
#dialog .ui-navbar{
	background-color: #f5f5f5;
}
#dialog .ui-navbar li{
	border: none;
	background-color: rgba(0,0,0,0);
}
#dialog .ui-navbar a{
	border: none;
}
#dialog a.active{
	color: #30aaea!important;
}
#dialog a.ui-btn-active{
	background-color: #f5f5f5
}
#dialog .ui-icon-delete:after{
	background-image: url(../images/close.png);
}
#dialog #empty{
	text-align: center;
}
#dialog #empty img{
	margin-top: 60px;
	width: 50%;
}
#dialog #empty .ui-btn{
	width: 135px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	font-size: 16px;
	background-color: #fff;
	color: #a2a2a2;
	border: 1px solid #a2a2a2;
	border-radius: 3px;
	margin: 5px auto 120px auto;
}
#chart_wrap{
	width: 100%;
	height: 400px;
	overflow: scroll;
}
#his2 .ui-panel-wrapper{
	background: url(../images/yuan.png) bottom no-repeat;
	background-size: 100%;
}
#income_sum{
	padding: 10px 30px;	
	color: #44b4ee;
	margin: 12px 0;
	background: url(../images/income.png) no-repeat 25px 5px;
	background-size: 27px;
	background-color: #f8f8f8;
}
#income_sum span{
	padding-left: 30px;	
}
#income_sum i{
	font-style: normal;
	color: #ffa61b;
}