*{
	text-shadow: none;
}
#page{
	background: url(../images/login_bg.gif) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
}
#cen_group{	
	width: 70%;
	margin: 0 auto;
	margin-top: 108px;
}
#cen_group .ui-input-text,#cen_group .ui-input-btn{
	border-radius: 35px;
	margin-bottom: 28px;
	border: 0;
	position: relative;
}
#cen_group .ui-input-text label{
	position: absolute;
	left: 9px;
	top: 38px;
	font-size: 12px;
	line-height: 20px;
	color: red;
	padding-left: 20px;
	background: url(../images/wrong.gif) left no-repeat;
	background-size: 20px; 
}
#cen_group input{
	font-size: 16px;
	padding: 7px 0;
	border: 0;
	padding-left: 40px;	
	background-size: 16px;
}
#cen_group .ui-input-btn{
	background-color: #72cfbc;
	border: 0;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 50px;
}
#cen_group h1{
	font-size: 16px;
	color: #6bbce6;
	text-align: right;
	padding-bottom: 20px;
}
#cen_group h1:before{
	content: '';
	display: block;
	width: 42%;
	position: relative;
	border: 1px solid #6bbce6;
	left: 74px;
	top: 12px;
}
#username{
	background: url(../images/acc.png) no-repeat 10px;
}
#password,#confirm{
	background: url(../images/lock.png) no-repeat 10px;
}
.ui-block-a,.ui-block-b{position: relative;height: 35px;}
#page .ui-grid-a a{
	display: block;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 20px;
	border: 1px solid #3f9ed0;
	color: #3f9ed0;
	width: 50%;
	text-align: center;
	position: absolute;
}
.ui-block-a a{
	right: 10px;
}
.ui-block-b a{
	left: 10px;
}