*{
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: normal!important;
}
.ui-panel-wrapper{
	background-color: #dddddd!important;
}
#main .ui-listview{
	margin: 0;
}
.header_shadow{
	box-shadow: 0px 3px 3px #ddd;
	border: none;
}
.ui-content{
	padding: 0;
}
#page .mytitle{
	margin: 0;
	padding: .9em 0;
}
.ui-btn-trans{
	background-color: rgba(0,0,0,0)!important;
	color: #fff!important;
	border: 0;
	padding-left: 28px;
	box-shadow: none;
	font-size: 16px!important;
}
.ui-btn-trans:after{
	content: '';
	display: block;
	width: 16px;
	height:30px;	
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -15px;
}
.myback::after{
	background: url(../images/back.gif) no-repeat left;
	background-size: 100%;
}
.mymenu{
	top: 14px;
	right: 0px;
}
.mymenu:after{
	background: url(../images/menu.gif) no-repeat left;
	background-size: 100%;
	width: 20px;
}
.cir_img_wrapper{
	display: block;
	width: 90px;
	height: 90px;
	border: 5px solid #ebeaea;
	border-radius: 50px;
	margin: 0 auto;
	box-shadow: 0 0 3px #999;
	position: relative;
	z-index: 1;
}
.cir_img_wrapper img{
	width: 100%;
}
.my-grid:after{
	content: '';
	display: block;
	clear: both;
}
.my-gridc1{
	width: 36%;
	text-align: center;
	float: left;
}
.my-gridc2{
	width: 64%;
	float: left;
}
#stu_info{
	background-color: #f8f8f8;
	padding-top: 30px;
}
#header_deco{
	background-color: #30aaea;
	width: 64px;
	height: 70px;
	text-align: center;
	margin: 0 auto;
	margin-top: -10px;
	z-index: 0;
	position: relative;
}
#header_deco img{
	width: 86%;
	margin-top: 10px;
} 
#stu_info li{
	border-top: 1px solid #dfdfdf;
	padding-top: 6px;
	padding-bottom: 6px;
}
#stu_info #name{
	color: #000!important;
	font-size: 24px!important;
	display: inline-block;
	border-top: none;
}
#grade{
	background: url(../images/icon01.png) no-repeat left 6px;
}
#addr{
	background: url(../images/icon02.png) no-repeat left 6px;
}
#subject{
	background: url(../images/icon03.png) no-repeat left 6px;
}
#grade,#addr,#subject{
	padding-left: 30px;
	background-size: 16px;
	color: #838383;
}
#ongoing{
	margin: 10px 0;
	width: 100%;
	padding: 11px 67px;
	color: #32acea;
	background: url(../images/going.png) #f8f8f8 no-repeat 25px 15px;
	background-size: 35px;
}
#progress_wrap{
	padding: 12.5px 30px;
	background-color: #f8f8f8;
	color: #44b4ee;
	margin: 12px 0;
}
#progress_bar{
	display: inline-block;
	width: 80%;
	height: 15px;
	position: relative;
	background-color: #a0a0a0;
	background: url(../images/bar_bg.png) repeat-x;	
}
#progress_bar:before{
	content: '';
	display: inline-block;
	width: 50%;
	height: 15px;
	top: 0;
	left: 0;
	background-color: #ffb13b;
	background: url(../images/bar.png) repeat-x;
}
#timeline_wrap{
	position: relative;
}
#timeline_wrap h1{
	position: absolute;
	top: 4px;
	left: 58px;
	padding: 12.5px 55px;
	color: #fff;
	font-size: 20px;
	background: url(../images/progress.png) no-repeat left;
	background-size: 40px;
}
#timeline_wrap img{
	position: absolute;
	top: 90px;
	left: 25px;
}
#timeline_wrap{background-color: #44b4ee;padding: 25px 67px 11px 67px;}
.timeline{background:url("../images/line4.png") repeat-y 50px 0;overflow:hidden;position:relative;width:520px;margin:40px auto 0 auto;padding-bottom: 30px;}
.timeline-date{overflow:hidden;position:relative;}
.timeline-date h2{background:url("../images/timestart.png") no-repeat 35px 0;height:55px;margin-bottom:20px;margin-top:20px;}
.timeline-date h2 span{color:#eee;display:inline-block;font-size:22px;margin:4px 0px 0 82px;}
.timeline-date ul li{background:url("../images/icon7.png") no-repeat 41px 5px;padding-bottom: .8em;}
.timeline-date ul li h3{float:left;text-align:right;font-size:14px;color:#878787;display:block;}	
.timeline-date ul li h3 span{display:block;color:#ADADAD;font-size:12px;padding-left:15px;}	
.timeline-date ul li dl{margin-top:-5px;}
.timeline-date ul li dl.right{position:relative;background:url() no-repeat 0 0;margin-left:75px;margin-top:1px;display:block;background-color:#f8f8f8;width:216px;border-radius: 4px;}	
.timeline-date ul li dl.right:before{
	content: '';
	display: block;
	border: 10px solid rgba(255,255,255,0);
	border-right-color: rgba(255,255,255,1);
	position: absolute;
	left: -19px;
	top: 4px;
}
.timeline-date ul li dl span{display:block;font-size:16px;padding:4px 10px 4px 30px;color:#838383;line-height:22px;}