*{
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: normal!important;
}
#main .ui-listview{
	margin: 0;
}
.ui-content{
	padding: 0;
}
.myheader{
	height: 46px;
}
#header_color .mytitle{
	margin: 0;
	padding: .8em 0;
}
#header_color{
	border: 0;
}
#header_color ul a{
	border-top: none;
}
.ui-btn-trans{
	background-color: rgba(0,0,0,0)!important;
	color: #fff!important;
	border: 0;
	padding-left: 28px;
	box-shadow: none;
	font-size: 16px!important;
}
.ui-btn-trans:after{
	content: '';
	display: block;
	width: 16px;
	height:30px;	
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -15px;
}
.myback::after{
	background: url(../images/back.gif) no-repeat left;
	background-size: 100%;
}
.mymenu{
	top: 14px;
	right: 0px;
}
.mymenu:after{
	background: url(../images/menu.gif) no-repeat left;
	background-size: 100%;
	width: 20px;
}
#nav li a{
	margin: 0 12px;
	border-left: none;
	position: relative;
	padding: 5px 0;
}
.reddot:after{
	content: '.';
	color: red;
	font-size: 44px;
	font-weight: 700;
	position: absolute;
	top: -35px;
	right: -1px;
}
#nav{
	background: url(../images/nav_bg.png) repeat-x;
}
#nav .active{
	border-bottom: 2px solid #30aaea;
	color: #30aaea!important;
}
.ui-navbar{
	padding: 6px 20px 5px 20px;
	background-color: #30aaea;
}
.ui-navbar li a{
	color: #aeaeae!important;
	border-top-width: none!important;
	text-decoration: none;
}
.ui-navbar .ui-btn{border-top-width: none!important;}
.ui-navbar li:first-child{
	border-left: none!important;
	border-right: 1px solid #ececec;
}
.ui-navbar li:first-child a{border-left: none!important;}
.ui-navbar li:nth-child(2){
	border-right: 1px solid #ececec;
	border-left: 1px solid #ffffff;
}
.ui-navbar li:last-child{
	border-left: 1px solid #ffffff;
}
#main{
	margin-top: 38.5px;
}
#main .message{
	padding-right: 20px;
	background: url(../images/message.png) no-repeat;
	background-position: -11px 20px;
}
#main li>a:after{
	display: none;
}
#main li a{
	background-color: #fff;
	margin-bottom: 2px;
	overflow: visible;
}
#main li img{
	left: 10px;
	top: 50%;
	margin-top: -34px;
}
#main .message{
	border-left: none;
}
#main .message:after{
	display: none;
}
#main .newms{
	width: 39px;
	height: 25px;
	background: url(../images/message.png) no-repeat center;
	position: absolute;
	right: 13px;
	top: 47px;
}
#main li h1{
	color: #000;
	font-size: 20px;
	font-weight: 700;
}
#main li h2,#main li h3{
	display: inline-block;
	color: #a2a2a2;
	font-size: 14px;
}
#main li h3{
	margin-left: 10px;
}
.status{
	padding-left: 25px;
	position: absolute;
	right: 13px;
	top: 20px;
}
.sta_true{
	background: url(../images/smell.png) no-repeat left;
	color: #30aaea;
}
.sta_false{
	background: url(../images/cry.png) no-repeat left;
	color: #a2a2a2;
}