*{
	margin: 0;
	padding: 0;
}
#sec1{
	background: #ee4638;
	text-align: center;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
body>div{
	height: 100%;
}
#sec1{
	height: 50%;
}
#sec1 img{
	max-width: 190px;
	width: 40%;
	margin-top: 40px;
	animation: rotate 2.3s ease-in-out infinite;
}
#sec1 p{
	color: #f2f2f2;
	padding: 2em 0;
}
#sec2 a{
	color: #333;
	display: block;
	width: 5.6em;
	height: 5.6em;
	line-height: 5.6em;
	border-radius: 3em;
	background: #f2f2f2;
	box-shadow: 0 1px 4px #ccc;
	text-decoration: none;
	text-align: center;
	font-size: 1.1em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -2.8em;
	margin-left: -2.8em;
}
@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(-60deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

